/* media queries */
/* responsive for mobile devices */
@media screen and (max-width: 576px) {
    nav,
    .nav-container,
    .menu-container,
    .card-container,
    .play-container {
        flex-direction: column;
        width: auto;
    }
    .menu-container a{
        padding-top: 20px;
        padding-bottom: 10px;
    }
    .banner-container{
        flex-direction: column-reverse;
        gap: 0px;
    }
    .logo-container{
        display: flex;
        align-items: center;
        justify-content: center;
    }


}


/* responsive for tablet devices */
@media screen and (min-width:576px) and (max-width:960) {
    
}